body{
	background-color: #444;
}

.container{
	margin: auto;
	margin-top: 30px;
	height: 800px;
	text-align: center;
	background: rgb(32,87,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(32,87,109,1) 13%, rgba(41,137,216,1) 38%, rgba(32,87,109,1) 75%, rgba(32,87,109,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(32,87,109,1) 13%,rgba(41,137,216,1) 38%,rgba(32,87,109,1) 75%,rgba(32,87,109,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(32,87,109,1) 13%,rgba(41,137,216,1) 38%,rgba(32,87,109,1) 75%,rgba(32,87,109,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20576d', endColorstr='#20576d',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	-moz-box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	box-shadow: inset 1px 1px 88px 23px rgba(68,68,68,0.9);
	}

.row{
	margin: auto;
}

.the-table{
	background: rgb(0,138,0); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 15px solid #663300;
	border-radius: 20px 20px 50% 50%;
	margin: -5px 0 0 -10px;
	padding:  30px 0;
	height: 600px;
	width: 1010px;
	transform: perspective(1200px) translateY(0px);
	perspective-origin: 25% 75%;

}

#arm-rest{
	position: fixed;
	width: 1150px;
	padding: 0px;
	margin: -130px -20px -20px -20px;
	border-radius: 40px 40px 100% 100%;
	border-width: 85px;
    border-style: solid;
    transform: perspective(800px) rotateX(45deg) translateX(10px);
	perspective-origin: 25% 75%;
	border-image: rgb(10,10,10) /* Old browsers */
	-moz-border-image: -moz-radial-gradient(center, ellipse cover,  rgba(114,114,114,0.82) 55%, rgba(114,114,114,0.9) 70%, rgba(242,242,242,0.94) 77%, rgba(88,88,88,0.98) 86%, rgba(83,83,83,1) 90%, rgba(79,79,79,1) 93%, rgba(76,76,76,1) 95%, rgba(75,75,75,1) 96%, rgba(69,69,69,1) 100%); FF3.6-15
	-webkit-border-image: -webkit-radial-gradient(center, ellipse cover,  rgba(114,114,114,0.82) 55%,rgba(114,114,114,0.9) 70%,rgba(242,242,242,0.94) 77%,rgba(88,88,88,0.98) 86%,rgba(83,83,83,1) 90%,rgba(79,79,79,1) 93%,rgba(76,76,76,1) 95%,rgba(75,75,75,1) 96%,rgba(69,69,69,1) 100%); Chrome10-25,Safari5.1-6
	border-image: radial-gradient(ellipse at center,  rgba(114,114,114,0.82) 55%,rgba(114,114,114,0.9) 70%,rgba(242,242,242,0.94) 77%,rgba(88,88,88,0.98) 86%,rgba(83,83,83,1) 90%,rgba(79,79,79,1) 93%,rgba(76,76,76,1) 95%,rgba(75,75,75,1) 96%,rgba(69,69,69,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1727272', endColorstr='#454545',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
}

button{
	margin:30px 0px 10px 0px;
	height: 60px;
	width: 180px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
}

button:hover{
	background-color: #ededed;
}

button:active{
	transform: translateY(4px);
}

.buttons-lower{
	margin-top: -20px;
}

.card{
	position: absolute;
	height: 120px;
	background-color: transparent;
	color: #fff;
	margin: 10px;
	width: 87px;
	border: 2px solid transparent;
	border-radius: 5px;
	overflow: hidden;
	perspective: 1200px;
	transform: rotateY(180deg) rotateX(-180deg);
}


.card img{
	height: 120px;
	margin: -2px 0 0 -15.5px;
	-webkit-box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
	box-shadow: 6px 4px 3px -2px rgba(0,0,0,0.75);
}

.card-container{
	height: 120px;
	width: 87px;
	transform-style: preserve-3d;
	transition: all .5s;
}

.card-front, .card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.card-front{
	}

.card-back{
	background-image: url('../images/deck.png');
	transform: rotateY(180deg);
	height: 100%;
	width: 100%;
	margin: -2px 0 0 -17px;
}

.player-cards .card-1{
	left: 430px;
	top: 400px;
	border: 2px solid #ded40a;
}

.player-cards .card-2{
	left: 450px;
	top: 350px;
}

.player-cards .card-3{
	left: 470px;
	top: 300px;
}

.player-cards .card-4{
	left: 490px;
	top: 250px;
}

.player-cards .card-5{
	left: 510px;
	top: 200px;
}

.player-cards .card-6{
	left: 530px;
	top: 150px;
}

.dealer-cards .card-1{
	left: 250px;
	top: 0px;
	border: 2px solid #ded40a;
}

.dealer-cards .card-2{
	left: 270px;
	top: 0px;
}

.dealer-cards .card-3{
	left: 290px;
	top: 0px;
}

.dealer-cards .card-4{
	left: 310px;
	top: 0px;
}

.dealer-cards .card-5{
	left: 330px;
	top: 0px;
}

.dealer-cards .card-6{
	left: 350px;
	top: 0px;
}

.player-cards .card-back{

}

.dealer-cards .card-back{

}

.dealer-total{
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 26%, rgba(140,51,16,1) 35%, rgba(117,34,1,1) 49%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 180px;
	height: 60px;
	border: 3px solid rgba(191,110,78,1);
	border-radius: 10px;
	margin: 30px 20px 10px 90px;
	line-height: 60px;
	font-size: 20px;
	color: #b5a642;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	
}

.player-total{
	background: rgb(240,183,161); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 26%, rgba(140,51,16,1) 35%, rgba(117,34,1,1) 49%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 26%,rgba(140,51,16,1) 35%,rgba(117,34,1,1) 49%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 180px;
	height: 60px;
	border: 3px solid rgba(191,110,78,1);
	border-radius: 10px;
	margin: 10px 20px 10px 90px;
	line-height: 60px;
	font-size: 20px;
	color: #b5a642;
	-webkit-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	-moz-box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	box-shadow: 1px 1px 8px 2px rgba(68,68,68,0.9);
	
}

.dealt1{
	animation: dealCard1 .6s;
}
.dealt2{
	animation: dealCard2 .6s;
}
.dealt3{
	animation: dealCard3 .6s;
}
.dealt4{
	animation: dealCard4 .6s;
}
.dealt5{
	animation: dealCard5 .6s;
}
.dealt6{
	animation: dealCard6 .6s;
}
.dealerDealt1{
	animation: dDealCard1 .6s;
}
.dealerDealt2{
	animation: dDealCard2 .6s;
}
.dealerDealt3{
	animation: dDealCard3 .6s;
}
.dealerDealt4{
	animation: dDealCard4 .6s;
}
.dealerDealt5{
	animation: dDealCard5 .6s;
}
.dealerDealt6{
	animation: dDealCard6 .6s;
}

@keyframes dealCard1{
	0%{transform: translate(350px,-400px)}
	100%{}
}

@keyframes dealCard2{
	0%{transform: translate(330px,-350px)}
	100%{}
}

@keyframes dealCard3{
	0%{transform: translate(330px,-350px)}
	100%{}
}

@keyframes dealCard4{
	0%{transform: translate(330px,-350px)}
	100%{}
}

@keyframes dealCard5{
	0%{transform: translate(330px,-350px)}
	100%{}
}

@keyframes dealCard6{
	0%{transform: translate(330px,-350px)}
	100%{}
}

@keyframes dDealCard1{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard2{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard3{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard4{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard5{
	0%{transform: translate(460px,0px)}
	100%{}
}

@keyframes dDealCard6{
	0%{transform: translate(460px,0px)}
	100%{}
}

/* Deck of Cards  */

#deckOfCards{
	position: absolute;
	left: 800px;
	top: -30px;
	height: 180px;
	background-color: transparent;
	color: #fff;
	margin: 10px;
	width: 180px;
	border: 2px solid transparent;
	border-radius: 5px;
	overflow: hidden;
}

.deck-card{
	/* margin: 10px; */
	position: absolute;
	left: 0;
	top: 52px;
	height: 120px;
}

.flip{
	/* transform: rotateY(-180deg); */
}

